/**
 * CustomCSSforFx 
 *  https://github.com/Aris-t2/CustomCSSforFx
 *
 * userChrome.menus.css
 *  https://github.com/k08045kk/userChrome.menus.css
 *  https://www.bugbugnow.net/2017/12/firefox-quantum-57.html
 *  https://www.bugbugnow.net/2018/04/firefox-quantum-context-menu-editing.html
 */

/* @-moz-document url(chrome://browser/content/browser.xul); /**/

@import "./css/tabs/tabs_below_navigation_toolbar_fx89.css"; /**/
/* @import "./css/tabs/tabs_multiple_lines_fx81.css"; /**/  /* Fx 81+ */ /* disable Proton */
/* @import "./css/tabs/tabs_multiple_lines_fx81_force_newtab_button_visibility.css"; /**/  /* Fx 81+ */ /* disable Proton */
@import "./css/tabs/tab_close_always_visible.css"; /**/
@import "./css/tabs/default_tabs_tab_background_appearance.css"; /**/
/* @import "./css/tabs/newtab_button_always_visible.css"; /**/
/* @import "./css/toolbars/addonbar_move_bookmarks_toolbar_to_bottom_fx72.css"; /**/  /* <--- EXPERIMENTAL */
/* @import "./css/toolbars/addonbar_extra_bookmarks_toolbar_below_navbar_fx65.css"; /**/  /* <--- EXPERIMENTAL */


/* 検索バーの → を常に表示 */
.search-go-button {
    display: inline-block !important;
}

/* メニューボタン非表示 */
#PanelUI-menu-button {
    display: none;
}

/* サイドバーのヘッダーをスリムにする */
#sidebar-header {
    padding: 2px !important;
}
#sidebar-icon {
    height: 14px !important;
}
#sidebar-title {
    font-size: 14px !important;
    padding-inline-start: 4px !important;
}
toolbarbutton #PanelUI-remotetabs-view-managedevices {
    display: none !important;
}

/* メニューの行間調整 */
menu,
menuitem
{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}


/* タブ */
#context_toggleMuteTab,                         /* [タブをミュート] */
#context_toggleMuteSelectedTabs,                /* [タブをミュート] 67+ */
#context_pinTab,                                /* [タブをピン留め] */
#context_unpinTab,                              /* [タブのピン留めを外す] */
#context_pinSelectedTabs,                       /* [タブをピン留め] 67+ */
#context_unpinSelectedTabs,                     /* [タブのピン留めを外す] 67+ */
#context_sendTabToDevice,                       /* [n 個のタブを端末へ送信] n=選択タブ数 */
#context_shareTabURL,                           /* [共有] 89+ */
#context_reopenInContainer,                     /* [新しいコンテナータブで開く] 88+ 89+ */
#tabContextMenu menu[id^="treestyletab"]
{
    display: none !important;
}

/* コンテンツエリア */
#context-openlinkincontainertab,                /* [リンクを新しい 〇〇 タブで開く] 〇〇=コンテナ名 */
#context-openlinkinusercontext-menu,            /* [リンクを新しいコンテナータブで開く] */
#context-sendlinktodevice,                      /* [リンクを端末へ送信] 89+ */
#context-sendpagetodevice,                      /* [ページを端末へ送信] */
#contentAreaContextMenu menu[id^="treestyletab"]    /* ツリー型タブ */
{
    display: none !important;
}
